In [2]:
import pandas as pd 

ratings = pd.read_csv("../data/ratings.csv")   
movies  = pd.read_csv("../data/movies.csv")

In [6]:
user_movies = ratings.groupby("userId")["movieId"].apply(list).tolist()

print("Example user history:", user_movies[0])

Example user history: [1, 3, 6, 47, 50, 70, 101, 110, 151, 157, 163, 216, 223, 231, 235, 260, 296, 316, 333, 349, 356, 362, 367, 423, 441, 457, 480, 500, 527, 543, 552, 553, 590, 592, 593, 596, 608, 648, 661, 673, 733, 736, 780, 804, 919, 923, 940, 943, 954, 1009, 1023, 1024, 1025, 1029, 1030, 1031, 1032, 1042, 1049, 1060, 1073, 1080, 1089, 1090, 1092, 1097, 1127, 1136, 1196, 1197, 1198, 1206, 1208, 1210, 1213, 1214, 1219, 1220, 1222, 1224, 1226, 1240, 1256, 1258, 1265, 1270, 1275, 1278, 1282, 1291, 1298, 1348, 1377, 1396, 1408, 1445, 1473, 1500, 1517, 1552, 1573, 1580, 1587, 1617, 1620, 1625, 1644, 1676, 1732, 1777, 1793, 1804, 1805, 1920, 1927, 1954, 1967, 2000, 2005, 2012, 2018, 2028, 2033, 2046, 2048, 2054, 2058, 2078, 2090, 2093, 2094, 2096, 2099, 2105, 2115, 2116, 2137, 2139, 2141, 2143, 2161, 2174, 2193, 2253, 2268, 2273, 2291, 2329, 2338, 2353, 2366, 2387, 2389, 2395, 2406, 2414, 2427, 2450, 2459, 2470, 2478, 2492, 2502, 2528, 2529, 2542, 2571, 2580, 2596, 2616, 2617, 2628, 2640, 2641, 2644, 2648, 2654, 2657, 2692, 2700, 2716, 2761, 2797, 2826, 2858, 2872, 2899, 2916, 2944, 2947, 2948, 2949, 2959, 2985, 2987, 2991, 2993, 2997, 3033, 3034, 3052, 3053, 3062, 3147, 3168, 3176, 3243, 3247, 3253, 3273, 3386, 3439, 3440, 3441, 3448, 3450, 3479, 3489, 3527, 3578, 3617, 3639, 3671, 3702, 3703, 3729, 3740, 3744, 3793, 3809, 4006, 5060]

In [7]:
from gensim.models import Word2Vec

model = Word2Vec(
    sentences=[[str(m) for m in movies_watched] for movies_watched in user_movies],
    vector_size=64,   
    window=10,        
    min_count=1,      
    workers=4,
    sg=1             
)

In [14]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [12]:
movie_id = "1"  # Toy Story (1995)
similar = model.wv.most_similar(movie_id, topn=5)

similar

[('2', 0.9865587949752808),
 ('16', 0.9856659770011902),
 ('10', 0.983420193195343),
 ('6', 0.9801322817802429),
 ('34', 0.9790211319923401)]

In [13]:
def print_recommendations(movieId):
    sims = model.wv.most_similar(str(movieId), topn=5)
    recs = [(movies[movies.movieId == int(mid)]["title"].values[0], score) 
            for mid, score in sims]
    return recs

print_recommendations(1)

[('Jumanji (1995)', 0.9865587949752808),
 ('Casino (1995)', 0.9856659770011902),
 ('GoldenEye (1995)', 0.983420193195343),
 ('Heat (1995)', 0.9801322817802429),
 ('Babe (1995)', 0.9790211319923401)]